In [2]:
# 导入人口密度数据
import pandas as pd
import numpy as np

In [2]:
# 统计行数
data.shape

(13639428, 3)

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns

data_pivot = data.pivot(index='Y', columns='X', values='Z')

plt.figure(figsize=(10, 10))
sns.heatmap(data_pivot)

plt.show()

MemoryError: Unable to allocate 104. MiB for an array with shape (13639428,) and data type int64

In [4]:
data['Z'].describe()

count    1.363943e+07
mean     1.480838e+02
std      1.028429e+03
min      0.000000e+00
25%      2.101722e-01
50%      6.153347e+00
75%      6.609925e+01
max      3.665874e+05
Name: Z, dtype: float64

In [8]:
pd.set_option('display.float_format', lambda x: '%.8f' % x)

In [5]:

data['X'].describe()

count   13639428.00000
mean         103.88581
std           14.36422
min           73.56125
25%           91.27792
50%          104.78625
75%          115.71125
max          134.76958
Name: X, dtype: float64

In [16]:
data['X'].value_counts()

116.75291621    2992
116.74458287    2992
116.73624954    2992
116.76124954    2991
116.72791621    2990
                ...
73.58624971        5
134.76958280       4
73.57791638        4
73.56958305        4
73.56124971        2
Name: X, Length: 7346, dtype: int64

In [11]:
# 计算每行之间的差值 从第二行开始
data['X_diff'] = data['X'].diff()


# data['X_diff'].describe()
data['X_diff'].value_counts()

0.00833333      7122249
0.00833333      2079737
0.00833333      2039100
0.00833333       754304
0.00833333       730827
                 ...
-47.49999981          1
15.12499994           1
-7.10833330           1
-7.79999997           1
17.30833326           1
Name: X_diff, Length: 4976, dtype: int64

In [14]:
data['Y'].describe()

count   13639428.00000000
mean          36.56222617
std            7.15499580
min           16.03708345
25%           31.11208339
50%           36.75375004
75%           41.86208335
max           53.56208330
Name: Y, dtype: float64

In [15]:
data['Y'].value_counts()

40.97041669    5909
40.95375002    5908
40.96208335    5908
40.94541669    5908
40.97875002    5907
               ...
20.16208344       1
16.65375012       1
16.93708345       1
18.16208344       1
16.84541678       1
Name: Y, Length: 4268, dtype: int64

In [20]:
# 计算每行之间的差值 从第二行开始
data['Y_diff'] = data['Y'].diff()

data['Y_diff'].value_counts()

0.00000000    13635160
0.00833333        2212
0.00833333         952
0.00833333         395
0.00833333         371
0.00833333         159
0.00833333         136
0.00833333          16
0.00833333          13
0.00833333           5
0.00833333           2
0.08333333           1
0.06666667           1
1.16666666           1
0.29166667           1
0.15000000           1
0.25833333           1
Name: Y_diff, dtype: int64

In [18]:
data['Z'].describe()

count   13639428.00000000
mean         148.08376203
std         1028.42863267
min            0.00000000
25%            0.21017221
50%            6.15334749
75%           66.09924698
max       366587.37500000
Name: Z, dtype: float64

In [4]:
data = pd.read_csv('population_density_split.csv')
data.head()

           X          Y    Z
0  96.652916  34.637083  0.0
1  96.661250  34.637083  0.0
2  96.669583  34.637083  0.0
3  96.677916  34.637083  0.0
4  96.686250  34.637083  0.0

In [19]:
filter_data = data[(data['X']>=104.047502) & (data['X']<=104.05272)]
if(filter_data.shape[0]>0):
    print('存在')
else:
    print('不存在')

不存在

In [12]:
max_X = data['X'].max()
min_X = data['X'].min()
max_Y = data['Y'].max()
min_Y = data['Y'].min()

print('X最大值:', max_X)
print('X最小值:', min_X)
print('Y最大值:', max_Y)
print('Y最小值:', min_Y)

X最大值: 108.35291624142316
X最小值: 96.65291628822315
Y最大值: 34.637083378980535
Y最小值: 26.18708341278053